html, body{
    height:100%;
}
header {
    padding: 60px;
    text-align: center;
    
  }

main {
    text-align:center;
}  
span{
    background-color: white;
    padding: 7px;
    opacity: 90%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
div{
    width:60%;
    margin-left: 20%;
}
pre{
    width:80%;
    margin-left: 10%;
}
  pre, code{
    white-space: pre-line !important;       /* Since CSS 2.1 */
    white-space: -moz-pre-line;  /* Mozilla, since 1999 */
    white-space: -pre-line;      /* Opera 4-6 */
    white-space: -o-pre-line;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
textarea{
    width: calc(100% - 20px);
    margin-left: 10px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border: 67px solid #363535;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0d0d0d;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #f2f2f2;
  border: 2px none #404040;
  border-radius: 1px;
}
::-webkit-scrollbar-track:hover {
  background: #949494;
}
::-webkit-scrollbar-track:active {
  background: #626262;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
